@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 207 100% 50%;

    --popover: 0 0% 100%;
    --popover-foreground: 207 100% 50%;

    --primary: 207 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 343 78.8% 45.5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 343 78.8% 45.5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 3 90.2% 50.8%;
    --destructive-foreground: 0 0% 100%;

    --ghost: 0 0% 80%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --success: 142.2 95.7% 35.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217.2 32.6% 17.5%;
    --foreground: 206.7 100% 60%;

    --card: 217.2 32.6% 17.5%;
    --card-foreground: 206.7 100% 45.5%;

    --popover: 217.2 32.6% 17.5%;
    --popover-foreground: 206.7 100% 45.5%;

    --primary: 217.2 32.6% 17.5%;
    --primary-foreground: 206.7 100% 60%;

    --secondary: 343 78.8% 45.5%;
    --secondary-foreground: 344.2 57.4% 61.6%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 214.2 100% 29.6%;
    --accent-foreground: 206.7 100% 60%;

    --destructive: 3 90.2% 50.8%;
    --destructive-foreground: 2.9 70.6% 47.5%;

    --ghost: 0 0% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --success: 142.2 95.7% 35.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: var(--font-ibm-plex-sans), system-ui, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-geologica), system-ui, sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}
