@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    font-family: var(--font-ibm-plex-sans), system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-geologica), system-ui, sans-serif;
  }

  @layer base {
    h1 {
      @apply txt-title;
    }
  }

  @layer base {
    h2 {
      @apply txt-subtitle;
    }
  }

  body {
    @apply bg-background text-foreground;
  }
}

.wmde-markdown {
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}

/* Allow fullsize textArea in MD editor (https://github.com/uiwjs/react-md-editor/issues/625) */
.w-md-editor-text {
  min-height: 100% !important;
}