.eslintcache
.env
.clinic
build
dist
node_modules
public
config/ssl
config/development.json
config/production.json
config/reference.json
config/test.json
coverage
test-results
logs
yarn-error.log
graphql.schema.json
__pycache__

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

